body {
  font-family: "source-sans-pro";
  margin: 1em auto;
}
a:link, a:visited, a:active, a:hover {
  color: #396F8F;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2 {
  margin: 0;
}
h1 {
  font-size: 175%;
  float: left;
}
h2 {
  font-size: 150%;
}
h2 a:hover {
  color: #000;
}
h1 a:hover, h2 a:hover, #et-phone-home {
  text-decoration: none;
}

header, #content-inner, footer {
  margin: 0 auto;
  width: 750px;
}
@media screen and (max-width: 960px) {
  header, #content-inner, footer {
    width: 100%;
  }
}

/* Header & Nav */
header {
  text-transform: lowercase;
}
#header-inner {
  overflow: hidden;
  padding: 1em;
}
#home-link {
  color: #000;
}
#home-icon {
  padding-right: 0.5em;
}
#home-link:hover #home-icon {
  color: #ff3900;
}
#links {
  float: right;
}
  #links ul {
    margin: 0;
    padding: 0;
  }
  #links li {
    list-style: none;
  }
  #links li + li {
    margin-top: 0.2em;
  }
  @media screen and (min-width: 321px) {
    #links ul {
      overflow: hidden;
    }
  }
@media screen and (max-width: 320px) {
  #links {
    float: none;
  }
    #links ul {
      overflow: normal;
    }
}

/* Main Content */
#content {
  clear: both;
}
#posts, #post {
  margin: 1em;
}
.post {
  position: relative;
}
  .post .date {
    color: #909090;
  }
  .post .content {
    line-height: 1.5;
    text-align: justify;
  }
  .post p.last:after {
    content: ' ■';
    font-family: arial;
    position: relative;
    top: -1px;
  }
  .post .content blockquote label {
    font-size: 110%;
    font-variant: small-caps;
    font-weight: bold;
  }
@media screen and (min-width: 1025px) {
  #posts .post .date {
    position: absolute;
    left: -120px;
    top: 6px;
    width: 100px;
  }
}
.post + .post {
  margin-top: 3em;
}
.footnotes {
  border-top: 1px solid #EDEDED;
  font-size: 80%;
}

/* Footer */
footer {
  margin-top: 3em;
  padding-top: 1em;
  text-align: center;
}
#license {
  font-size: 80%;
  margin-bottom: 1em;
}

/* Portfolio */
#portfolio .project {
  margin-top: 3em;
}
#portfolio h3 {
  color: #2F5EC4;
  display: inline;
}
#portfolio .project ul {
  display: inline-block;
  float: right;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}
#portfolio .project ul li {
  background: #DDE2ED;
  display: inline-block;
  font: 75% "source-code-pro";
  padding: 0.3em 0.5em;
  margin-right: 1em;
}
#portfolio .github {
  margin: 0;
}
#portfolio .github a {
  color: #A3ADC2;
}
#portfolio .details {
  margin-top: 1em;
  overflow: hidden;
}
#portfolio .details p {
}
#portfolio .details img {
  border: 1px solid #ccc;
  width: 748px;
}
