body {
  font: 1.2em 'cardo';
  margin: 1em auto;
}
a:link, a:visited, a:active, a:hover {
  color: #ff3900;
  text-decoration: none;
}
a:hover {
  color: #A62500;
}
h1, h2, .post .date, #links {
  font-family: 'source-sans-pro', 'helvetica neue', helvetica, arial;
}
h1, h2 {
  margin: 0;
}
h1 {
  font-size: 175%;
  float: left;
}
h2 {
  font-size: 150%;
}
h2 a:hover {
  color: #000;
}

header, #content-inner, footer {
  margin: 0 auto;
  width: 960px;
}
@media screen and (max-width: 960px) {
  header, #content-inner, footer {
    width: 100%;
  }
}

/* Header & Nav */
header {
  text-transform: lowercase;
}
#header-inner {
  overflow: hidden;
  padding: 1em;
}
#home-link {
  color: #000;
}
#home-icon {
  padding-right: 0.5em;
}
#home-link:hover #home-icon {
  color: #ff3900;
}
#links {
  float: right;
}
  #links ul {
    margin: 0;
    padding: 0;
  }
  #links li {
    list-style: none;
  }
  @media screen and (min-width: 321px) {
    #links ul {
      overflow: hidden;
    }
  }
@media screen and (max-width: 320px) {
  #links {
    float: none;
  }
    #links ul {
      overflow: normal;
    }
}

/* Main Content */
#content {
  background: #FEFEFE;
  border-bottom: 1px solid #FFEDEA;
  border-top: 1px solid #FFD8D3;
  clear: both;
}
#posts, #post {
  margin: 1em;
}
.post {
  position: relative;
}
  .post .date {
    color: #909090;
  }
  .post .content {
    text-align: justify;
  }
  .post p:last-of-type:after {
    content: ' ■';
  }

@media screen and (min-width: 1025px) {
  #posts .post .date {
    position: absolute;
    left: -120px;
    top: 6px;
    width: 100px;
  }
}

/* Footer */
footer {
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
}
#license {
  font-size: 80%;
  margin-bottom: 1em;
}