<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
   <title>{{ page.title }}</title>

   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="author" content="Josh Leitzel" />
   <meta name="description" content="Josh Leitzel's personal website" />
   <meta name="viewport" content="width=device-width; initial-scale=1.0" />

   <link rel="icon" href="/favicon.png" type="image/x-icon" />

   <link href="http://joshleitzel.com/feed/index.xml" rel="alternate" title="Josh Leitzel" type="application/atom+xml" />

   <link href="/css/screen.css" rel="stylesheet" type="text/css" />

   <script type="text/javascript" src="//use.typekit.net/jvs7bsn.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1523301-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div class="site">
  <header>
    <div id="header-inner">
      <h1>
        {% if page.url != '/index.html' %}
          <a id="home-link" href="/"><span id="home-icon">⌂</span> Josh Leitzel</a>
        {% else %}
          Josh Leitzel
        {% endif %}
      </h1>

      <div id="links">
        <ul>
          <li><a href="http://twitter.com/joshleitzel">Twitter</a></li>
          <li><a href="http://github.com/joshleitzel">GitHub</a></li>
          <li><a href="http://stackoverflow.com/users/86937/josh-leitzel">Stack Overflow</a></li>
          <li><a href="mailto:joshleitzel@gmail.com">Contact</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div id="content">
    <div id="content-inner">
      {{ content }}
    </div>
  </div>

  <footer>
    <div id="license">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="This work is licensed under a Creative Commons Attribution-ShareAlike 3.0 Unported License">CC BY-SA</a>
    </div>
    {% if page.url != '/index.html' %}
      <a id="et-phone-home" href="/">⚓</a>
    {% else %}
      ⚓
    {% endif %}
  </footer>
</div>

</body>
</html>
